<%= render partial: 'errors', locals: { resource: @todo } %>

<h1>Todolist</h1>

<%= form_with model: [@recording, @todo] do |f| %>
  <%= f.text_field :content %>
  <%= f.submit %>
<% end %>

<div class="space-y-4">
  <% @recording.todos.each do |todo| %>
    <%= render todo %>
  <% end %>
</div>
