<!DOCTYPE html>
<html>
  <head>
    <title>DelegatedTypes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <main class="max-w-5xl mx-auto px-4 py-6">
      <%= yield %>
    </main>
  </body>
</html>
